/* Container for the sections to be side by side */
.section-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem; /* Adjust space between sections */
}

/* Styling for each section */
.section-container .section {
    flex: 1; /* Allow sections to grow and shrink */
    background-color: rgba(63, 92, 138, 0.55); /* Same background as existing section styling */
    padding: 1.5rem;
    border-radius: 8px;
    margin: 1.5rem 0;
}

.section-container h3 {
    color: #fb9039;
    text-align: center;
}

/* Ensure lists inside sections are properly styled */
.section-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.section-container li {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 5px 0;
    font-size: 1rem;
    line-height: 1.5;
}

.section-container li a {
    font-weight: bold;
    color: #ffcc00;
    text-decoration: none;
}

.section-container li .description {
    font-weight: normal;
    color: #fb9039;
    margin-left: 10px;
    text-align: center;
    grid-column: 2;
}

.section-container li a:hover {
    color: #ff9039;
    text-decoration: underline;
}

/* Card container styling */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the card container */
    gap: 20px;
  }
  
  /* Individual card styling */
  .card {
    background-color: #2a2a2a;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    width: 155px; /* Card width */
    height: 230px; /* Card height */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    overflow: hidden; /* Ensure content does not overflow */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /* Space between image and text */
  }
  
  /* Hover effect */
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card img {
    width: 155px; /* Image width */
    height: 155px; /* Image height */
    object-fit: cover; /* Crop image to fit */
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  /* Movie/series name styling */
  .card h3 {
    font-size: 1em;
    color: #ffffff;
    margin: 0;
    margin-bottom: 5px; /* Space between name and status */
  }
  
  /* Status indicator styling */
  .status-indicator {
    font-size: 0.9em;
    color: #fb9039;
  }
  
  /* Responsive design */
  @media (min-width: 768px) {
    .card-container {
      justify-content: space-between;
    }
  }
  
  @media (min-width: 1024px) {
    .card-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }